@charset "UTF-8";

            /* TABLET */
@media screen and (min-width: 768px) and (max-width: 1024px) {

    section {
        text-align: center;
        padding: 10px 10px 15px 10px;
    }

    section > p {
        font-size: 1.2em;
    }

    section > h2 {
        font-size: 1.3em;
    }

    section > h3 {
        font-size: 1.2em;
    }

    section > ul > li {
        font-size: 1em;
    }
}

            /* DESKTOP - TELAS MAIORES */
@media screen and (min-width: 1025px) {
    
    /* ALINHAR AS CAIXAS HORIZONTALMENTE, DIMINUIR A IMAGEM E DEFINIR TAMANHO DO BOTÃO. */

    main {
        flex-direction: row;
        justify-content: space-between;
    }

    section {
        flex: auto;
        text-align: center;
        padding: 15px 10px 15px 10px;
        margin-right: 10px;
    }

    section > p {
        padding: 20px;
    }

    section > ul > li {
        padding: 10px;
    }

    footer > img {
        width: 15%;
    }

    footer > p {
        font-size: 1em;
    }

    footer > article {
        height: 25vh;
    }

    footer > article > a > button {
        width: 50%;
        margin-top: 100px;
    }
}