@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    background-color: rgb(243, 242, 240);
    text-align: center;
    height: 100px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 0px #00000054
}

header > p {
    font-size: 1.1em;
    font-weight: 600;
    padding-top: 10px;
}

main {
    padding: 10px;
    margin-bottom: 20px;
}

section {
    background-color: white;
    box-shadow: 1px 2px 6px 0px rgb(0 0 0 / 34%);
    border-radius: 5px;
    padding: 10px 10px 15px 10px;
    margin-bottom: 20px;
    list-style-position: inside;
}

section > h2, section > h3 {
    padding-bottom: 10px;
    font-size: 1.2em;
}

section > h3 {
    font-size: 1em;
}

section > ul > li {
    padding-left: 20px;
    font-weight: 600;
    font-size: 0.9em;
}

section > p {
    font-size: 1.1em;
}

section > p#local {
    color: gray;
    font-weight: 600;
    font-size: 1em;
}

footer {
    background-color: rgb(243, 242, 240);
    text-align: center;
    margin-top: -10px;
}

footer > img {
    width: 25%;
}

footer > p {
    padding: 5px;
    font-size: 0.9em;
    font-weight: 600;
}

footer > article {
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 0px 6px 1px rgb(0 0 0 / 38%);
    margin-top: 20px;
}

footer > article > a > button {
    background-color: rgb(26, 26, 124);
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 7px;
    width: 70%;
}

footer > article > a > button:hover {
    transform: scaleX(1.1);
    transition: 0.5s;
    transition-timing-function: ease;
}